<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--
        从服务端的角度, 这就是一个字符串
        从客户端的角度, 浏览器
            浏览器从上到下解析 index.html 文件内容
            在机械的过程中吗如果发现一些具有src, href(a除外)
            就会服务器端继续发送请求
    -->
    <link rel="stylesheet" type="" href="../asstes/css/main.css">
</head>

<body>
    首页
    <a href="login">登录</a>
    <img src="../asstes/img/my.jpg" alt="">
</body>

</html>